<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        Looks like you forgot your password.
        <br /><br />
        Let’s get you back on track! Your randomly generated recovery code is:
        <br /><br />
        <b><%= recoveryCode %></b>
        <br /><br />
        Best,<br />
        The MealPlan Team
    </body>
</html>
